---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---
<head>
  <link rel="stylesheet" href="my.css">
</head>

<body>
<!-- <a id="top"></a>
<button id="myBtn"><a href="#top" style="color: white">Top</a></button> -->
<p>Project description can be found in Resume page. Click on outlines below to navigate to specific section.</p>
<ul>
  <li><a href="#univrsity">"UniVRsity": a VR campus environment for online college students</a>  </li>
  <li><a href="#mecharspace">"MechARspace": an AR authoring system to create bi-directional interactions between virtual and physical objects</a>  </li>
  <li><a href="#learniotvr">"LearnIoTVR": a VR-based learning environment using block-based programmign and virtual IoT devices</a>  </li>
  <li><a href="#infmatrix">"Infinite Matrix": Unreal Engine 5 Mini Game</a>  </li>
  <li><a href="#platformer">Platformer Level Design: Unreal Engine 5 3D Third Person Exploration+Combat Game (in progress)</a>  </li>
  <li><a href="#fullstack">Full Stack Project "Illini Home: Database-centric (SQL) web application with advanced sql queries</a>  </li>
  <li><a href="#frontend">Frontend Project: Website built with React and NASA API</a>  </li>
</ul>


<hr>

<h2 id="univrsity">1. Demo video of the <b>"UniVRsity"</b> project</h2> 
<div>
<iframe width="200" height="150" 
    src="https://www.youtube.com/embed/GFDbDR-uz6E" title="YouTube video player" frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
</iframe> 
</div>

<hr>

<h2 id="mecharspace">2. Demo video of the <b>"MechARspace"</b> research project for UIST 2022</h2> 
<p>Paper can be found in <b>Publications</b> page  </p>
<iframe width="200" height="150" 
  src="https://www.youtube.com/embed/h8ObRB5wurk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; 
  clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
</iframe> 
<iframe width="200" height="150" 
  src="https://www.youtube.com/embed/hbw7sZTQkIQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; 
  clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
</iframe>

<hr>

<h2 id="learniotvr">3. Demo video of the <b>"LearnIoTVR"</b> project</h2> 
<p>Accepted at CHI 2023. Will be published in Feburary.</p>
<iframe width="200" height="150" 
    src="https://www.youtube.com/embed/09l6yRfJ9Ak" title="YouTube video player" frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
</iframe> 


<hr>

<h2 id="infmatrix">4. Demo video of the Unreal Engine 5 Mini Game <b>"Infinite Matrix"</b></h2>
<div>
  <iframe width="200" height="150" 
      src="https://www.youtube.com/embed/u9ToxJJ9n7Q" title="YouTube video player" frameborder="0" 
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
  </iframe> 
</div>

<hr>
  
<h2 id="platformer">5. Platformer Level Design: Unreal Engine 5 3D Third Person Exploration+Combat Game</h2>
<a href="https://gitlab.com/youyouz2/ue5_1_platformerleveldesign/-/tree/main">https://gitlab.com/youyouz2/ue5_1_platformerleveldesign/-/tree/main</a>
<div>
<iframe width="200" height="150" 
    src="https://www.youtube.com/embed/Dn0t9zjcBuU" title="YouTube video player" frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
</iframe>
</div>

<hr>
  
<h2 id="fullstack">6. Demo video of the full stack project <b>"Illini Home"</b></h2>
<div>
<iframe width="200" height="150" 
    src="https://www.youtube.com/embed/Hqr1YMitexw" title="YouTube video player" frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
</iframe> 
</div>
  
<hr>

<h2 id="frontend">7. Frontend: Website for <b>NASA Curiosity Rover Images Website</b> project</h2>
<a href="https://jennzhang93.gitlab.io/mp2">https://jennzhang93.gitlab.io/mp2</a>


</p>

</body>

<!-- 
{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %} -->

